.interaction-sec {
  text-wrap: nowrap;
  padding: 2rem;
  max-width: 30rem;
}

.head-sec {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: 2.1rem;
}

.input-sec {
  display: grid;
  grid-template-areas:
    'One'
    'Two'
    'Three';
  column-gap: 20px;
  row-gap: 25px;
  margin-bottom: 25px;
}

.selection-sec {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.name-txt {
  padding: 10px 0;
}

.input-bar {
  border: 1px solid black;
  padding: .8rem;
  border-radius: 5px;
}

.clear-all-button {
  text-decoration: underline;
  font-weight: 400;
  font-size: 1rem;
  text-underline-offset: 3px;
}

.input-name:first-child {
  grid-area: One;
}
.input-name:nth-child(2) {
  grid-area: Two;
}
.input-name:last-child {
  grid-area: Three;
}

.mortgage-type-name {
  font-weight: 800;
  font-size: 1.1rem;
  margin-left: .9rem;
}


.submit-button {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: .8rem;
  width: 100%;

  padding: .85rem 2.3rem;
  border: 1px solid yellow;
  border-radius: 50px;
  background-color: yellow;

  justify-content: center;
  margin: 1.5rem auto 0 auto;
}

