.interaction-sec {
  text-wrap: nowrap;
  padding: 2rem;
  max-width: 30rem;
}

.head-sec {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: 2.1rem;
}

.clear-all-button {
  text-decoration: underline;
  font-weight: 400;
  font-size: 1rem;
  text-underline-offset: 3px;
}

.input-sec {
  display: grid;
  grid-template-areas:
    'One'
    'Two'
    'Three';
  column-gap: 20px;
  row-gap: 25px;
  margin-bottom: 25px;
}

.input-name:first-child {
  grid-area: One;
}

.input-name:nth-child(2) {
  grid-area: Two;
}

.input-name:last-child {
  grid-area: Three;
}

.selection-sec {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.name-txt {
  padding: 10px 0;
}

.input-bar {
  border: 1px solid var(--Slate-700);
  border-radius: 5px;
  overflow: hidden;
}

.input-bar-focused {
  border-color: var(--Lime-custom);
  .input-wrapper {
    background-color: var(--Lime-custom);
  }
}

.input-bar-selected {
  border-color: var(--Lime-custom);
  background-color: var(--selected-radio);
}

.input-here {
  padding: var(--input-padding);
}

.wrap-right {
  display: grid;
  grid-template-columns: auto auto;
}

.input-wrapper {
  background-color: var(--Slate-100);
  padding: var(--input-padding);
  font-size: var(--def-font-size);
  text-align: center;
}

label.input-bar {
  padding: var(--input-padding);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selection-sec .input-bar {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
}

.radio-stroke {
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid var(--Slate-900);
  border-radius: 50%; 
  display: grid;
  place-items: center;
}

.radio-inner-part {
  display: none;
  background-color: var(--Lime-custom);
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
}

.radio-stroke-selected {
  border-color: var(--Lime-custom);
  .radio-inner-part {
    display: block;
  }
}

.mortgage-type-name {
  font-weight: 800;
  font-size: 1.1rem;
  margin-left: .9rem;
}


.submit-button {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: var(--input-padding);
  width: 100%;

  padding: .85rem 2.3rem;
  border: 1px solid hsl(61, 70%, 52%);
  border-radius: 50px;
  background-color: hsl(61, 70%, 52%);

  justify-content: center;
  margin: 1.5rem auto 0 auto;
}

.submit-button:hover {
  background-color: hsl(61, 83%, 55%);
}

